body {
    background:rgb(206, 237, 237);
    display: flex;
}

canvas {
    background:#ffffff;
    border:1px solid #333;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    width:100%;
}

.form-wrapper {
    display: flex;
    margin-top: 2em;
}

/* @media screen and (max-width:700px) {
    canvas {
        width:90%;
        height:60vh;
    }
} */